:root {
  /* COLOURS */
  /* FONTS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PRODUCT PAGE START */
.section-custom,
.section-frist-cheackout {
  display: grid;
  grid-template-columns: 60%;
  justify-items: center;
  justify-content: center;
  /*   margin: 5rem 10rem 10rem 10rem;
 */
  padding: 5rem; /* delete after adding header */
  gap: 9rem; /* delete after adding header */
  /*   box-shadow: -2px 2px 50px -30px rgb(129, 23, 23);
 */
}
.products-custom {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.products-custom div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.products-custom > * img {
  width: 60%;
}
.container-custom img {
  width: 50%;
}
.container-custom {
  width: 750px;
  height: 320px;
  background-color: black;
}
.section-custom button {
  background-color: black;
  color: white;
  padding: 1rem 2rem 1rem;
}
/* CUSTOM PRODUCT PAGE END */
/* CHEACKOUT METHOD 1 / PICKING UP OPTION PAGE START */
.section-frist-cheackout :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.middle-line {
  width: 0.1rem;
  height: 7rem;
  background-color: rgb(0, 0, 0);
}
.section-frist-cheackout button {
  background-color: black;
  font-size: 1rem;
  color: white;
  padding: 1rem 4rem 1rem;
}
.section-frist-cheackout button:last-child {
  background-color: rgb(177, 177, 177);
  font-size: 1rem;
  border: none;
  color: white;
  padding: 1rem 4rem 1rem;
}
.slider {
  position: absolute;
  top: 50%;
}
.progress-circle {
  width: 5rem;
  height: 5rem;
  background-color: black;
  border-radius: 100%;
}
/* CHEACKOUT METHOD 1 / PICKING UP OPTION PAGE START */
